# Editor/IDE noise
chatsounds-preprocessor.layout
chatsounds-preprocessor.depend
.kdev4
chatsounds-preprocessor.kdev4

# External Libraries / Header Files
include/*
lib/*
libs/*

# Build Folders
obj
bin
build
