# CodeBlocks Noise
chatsounds-preprocessor.layout
chatsounds-preprocessor.depend

# External Libraries / Header Files
include/*
lib/*
libs/*

# Build Folders
obj
bin
build

# Test Folder
run

# Compiled Binaries
chatsounds-preprocessor
*.exe

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
