# Editor/IDE noise
/chatsounds-preprocessor.layout
/chatsounds-preprocessor.depend
/.kdev4
/chatsounds-preprocessor.kdev4
/.vscode
/.idea

# External Libraries / Header Files
/catch2
/include/*
/lib/*
/libs/*

# Build Folders
/obj
/bin
/build
/cmake-build-debug

# Noisy development-related files
/version.h
